In [1]:
! pip install tmdbsimple
import pandas as pd
import time
from tqdm.notebook import tqdm_notebook

Requirement already satisfied: tmdbsimple in c:\users\bijan emadi\anaconda\envs\dojo-env\lib\site-packages (2.9.1)
Requirement already satisfied: requests in c:\users\bijan emadi\anaconda\envs\dojo-env\lib\site-packages (from tmdbsimple) (2.27.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\bijan emadi\anaconda\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bijan emadi\anaconda\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\bijan emadi\anaconda\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (2.0.12)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\bijan emadi\anaconda\envs\dojo-env\lib\site-packages (from requests->tmdbsimple) (1.26.8)

In [2]:
import json
with open ('/Users/Bijan Emadi/.secret/tmdb_api.json', 'r') as f:
    login = json.load(f)
login.keys()

dict_keys(['api-key'])

In [3]:
import tmdbsimple as tmdb
tmdb.API_KEY = login['api-key']

In [4]:
movie = tmdb.Movies(603)
info = movie.info()
info

{'adult': False,
 'backdrop_path': '/ncEsesgOJDNrTUED89hYbA117wo.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 58.82,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/xlvoOZr4s1PygosrwZyolIFe5xs.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.2,
 'vote_count': 21586}

In [5]:
def get_movie_with_rating(movie_id):
    # Get the movie object for the current id
    movie = tmdb.Movies(movie_id)
    # save the .info .releases dictionaries
    info = movie.info()
    releases = movie.releases()
    # Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1' ] =='US':
            ## save a "certification" key in the info dict with the certification
            info['certification'] = c['certification']
        return info

In [6]:
def write_json(new_data, filename):
    
    with open(filename, 'r+') as file:
        file_data = json.load(file)
        if (type(new_data)==list) & (type(file_data)==list):
            file_data.extend(new_data)
        else:
            file_data.append(new_data)
        file.seek(0)
        json.dump(file_data, file)

In [7]:
get_movie_with_rating(603)

{'adult': False,
 'backdrop_path': '/ncEsesgOJDNrTUED89hYbA117wo.jpg',
 'belongs_to_collection': {'id': 2344,
  'name': 'The Matrix Collection',
  'poster_path': '/bV9qTVHTVf0gkW0j7p7M0ILD4pG.jpg',
  'backdrop_path': '/bRm2DEgUiYciDw3myHuYFInD7la.jpg'},
 'budget': 63000000,
 'genres': [{'id': 28, 'name': 'Action'},
  {'id': 878, 'name': 'Science Fiction'}],
 'homepage': 'http://www.warnerbros.com/matrix',
 'id': 603,
 'imdb_id': 'tt0133093',
 'original_language': 'en',
 'original_title': 'The Matrix',
 'overview': 'Set in the 22nd century, The Matrix tells the story of a computer hacker who joins a group of underground insurgents fighting the vast and powerful computers who now rule the earth.',
 'popularity': 58.82,
 'poster_path': '/f89U3ADr1oiB1s9GkdPOEpXUk5H.jpg',
 'production_companies': [{'id': 79,
   'logo_path': '/tpFpsqbleCzEE2p5EgvUq6ozfCA.png',
   'name': 'Village Roadshow Pictures',
   'origin_country': 'US'},
  {'id': 372,
   'logo_path': None,
   'name': 'Groucho II Film Partnership',
   'origin_country': ''},
  {'id': 1885,
   'logo_path': '/xlvoOZr4s1PygosrwZyolIFe5xs.png',
   'name': 'Silver Pictures',
   'origin_country': 'US'},
  {'id': 174,
   'logo_path': '/IuAlhI9eVC9Z8UQWOIDdWRKSEJ.png',
   'name': 'Warner Bros. Pictures',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '1999-03-30',
 'revenue': 463517383,
 'runtime': 136,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Welcome to the Real World.',
 'title': 'The Matrix',
 'video': False,
 'vote_average': 8.2,
 'vote_count': 21586}

In [23]:
import os
FOLDER = "Data/"
os.makedirs(FOLDER, exist_ok=True)
os.listdir(FOLDER)

['.ipynb_checkpoints',
 'title_akas.csv.gz',
 'title_basics.csv.gz',
 'title_ratings.csv.gz']

In [24]:
basics = pd.read_csv('Data/title_basics.csv.gz')
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,NaN,70,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,NaN,122,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,NaN,100,"Comedy,Horror,Sci-Fi"
4,tt0093119,movie,Grizzly II: Revenge,Grizzly II: The Predator,0,2020,NaN,74,"Horror,Music,Thriller"

In [25]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79287 entries, 0 to 79286
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          79287 non-null  object
 1   titleType       79287 non-null  object
 2   primaryTitle    79287 non-null  object
 3   originalTitle   79287 non-null  object
 4   isAdult         79287 non-null  int64
 5   startYear       79287 non-null  int64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  79287 non-null  int64
 8   genres          79287 non-null  object
dtypes: float64(1), int64(3), object(5)
memory usage: 5.4+ MB

In [26]:
YEARS_TO_GET = [2000,2001]

In [27]:
YEAR = YEARS_TO_GET[0]
YEAR

2000

In [28]:
# Start of OUTER Loop
for YEAR in tqdm_notebook(YEARS_TO_GET, desc='YEARS',
                         position=0):
    # Defining the JSON file to store results for year
    JSON_FILE = f'{FOLDER}tmdb_api_results_{YEAR}.json'
    # Check if file exists
    file_exists = os.path.isfile(JSON_FILE)

    if file_exists == False:
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)

    # Saving new year as the current df
    df = basics.loc[basics['startYear']==YEAR].copy()
    # Saving movie IDs to list
    movie_ids = df['tconst'].copy()
    movie_ids

    # Load existing data from json into a dataframe called 'previous_df'
    previous_df = pd.read_json(JSON_FILE)
    previous_df

    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]

    #Get index and movie id from list
    # INNER Loop
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                 desc=f'Movies from {YEAR}',
                                 position=1,
                                 leave=True):
        # Attempt to retrieve then data for the movie id
        try:
            temp = get_movie_with_rating(movie_id) # This uses your pre-made function
            # Append/extend results to existing file using a pre-made function
            write_json(temp, JSON_FILE)
            # Short 20 ms sleep to prevent overwhelming server
            time.sleep(0.02)

        except Exception as e:
            continue
            
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"{FOLDER}final_tmdb_data_{YEAR}.csv.gz", compression="gzip", index=False)

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

Movies from 2000:   0%|          | 0/1405 [00:00<?, ?it/s]

AttributeError: 'NoneType' object has no attribute 'keys'

In [14]:
with open(JSON_FILE) as f:
    save = json.load(f)

In [15]:
type(save)

list

In [16]:
pd.Series(save[1])

adult                                                                False
backdrop_path                             /vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg
belongs_to_collection                                                 None
budget                                                            10000000
genres                   [{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...
homepage
id                                                                   62127
imdb_id                                                          tt0113026
original_language                                                       en
original_title                                             The Fantasticks
overview                 Two rural teens sing and dance their way throu...
popularity                                                           1.355
poster_path                               /hfO64mXz3DgUxkBVU7no2UWRP7x.jpg
production_companies     [{'id': 51207, 'logo_path': None, 'name': 'Sul...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    2000-09-22
revenue                                                                  0
runtime                                                                 86
spoken_languages         [{'english_name': 'English', 'iso_639_1': 'en'...
status                                                            Released
tagline                      Try to remember the first time magic happened
title                                                      The Fantasticks
video                                                                False
vote_average                                                           5.4
vote_count                                                              21
certification
dtype: object

In [17]:
good_data = []
for movie in save:
    temp = pd.Series(movie)
    good_data.append(temp)

C:\Users\Bijan Emadi\anaconda\envs\dojo-env\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  This is separate from the ipykernel package so we can avoid doing imports until

In [18]:
df=pd.concat(good_data, axis=1).T

In [19]:
df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,False,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,None,10000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",,62127,en,The Fantasticks,...,0,86,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,False,5.4,21,
2,tt0113092,False,None,None,0,"[{'id': 878, 'name': 'Science Fiction'}]",,110977,en,For the Cause,...,0,100,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,False,4.4,7,
3,tt0116391,False,None,None,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",,442869,hi,Gang,...,0,152,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,,Gang,False,0.0,0,NaN
4,tt0118694,False,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,None,150000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.wkw-inthemoodforlove.com/,843,cn,花樣年華,...,12854953,99,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,False,8.1,1880,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,tt0267427,False,None,None,0,[],,264511,de,Die Einsamkeit der Krokodile,...,0,0,"[{'english_name': 'German', 'iso_639_1': 'de',...",Released,,Die Einsamkeit der Krokodile,False,6.0,1,NaN
963,tt0267490,False,/nGDmnTmHe2QrbWkYuIxCcGWq9d.jpg,None,0,"[{'id': 35, 'name': 'Comedy'}]",,71118,es,Felicidades,...,0,100,"[{'english_name': 'Spanish', 'iso_639_1': 'es'...",Released,,Felicidades,False,5.3,4,NaN
964,tt0267601,False,/4dahYf4gDVvcw6NPjbCv8u6lRCK.jpg,None,500000,"[{'id': 27, 'name': 'Horror'}]",http://www.demons.co.nz/,15701,en,The Irrefutable Truth About Demons,...,0,90,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Hell is real.,The Irrefutable Truth About Demons,False,4.9,27,NaN
965,tt0267622,False,/t3mqleYCCDsalDzl6LApaCUjxu0.jpg,None,0,"[{'id': 80, 'name': 'Crime'}, {'id': 28, 'name...",,118170,ko,죽거나 혹은 나쁘거나,...,0,95,"[{'english_name': 'Korean', 'iso_639_1': 'ko',...",Released,,Die Bad,False,5.4,11,NaN
966,tt0267784,False,None,None,0,"[{'id': 28, 'name': 'Action'}]",,968455,en,"No Deposit, No Return",...,0,90,[],Released,,"No Deposit, No Return",False,0.0,0,

In [20]:
good_data[1]

adult                                                                False
backdrop_path                             /vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg
belongs_to_collection                                                 None
budget                                                            10000000
genres                   [{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...
homepage
id                                                                   62127
imdb_id                                                          tt0113026
original_language                                                       en
original_title                                             The Fantasticks
overview                 Two rural teens sing and dance their way throu...
popularity                                                           1.355
poster_path                               /hfO64mXz3DgUxkBVU7no2UWRP7x.jpg
production_companies     [{'id': 51207, 'logo_path': None, 'name': 'Sul...
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                    2000-09-22
revenue                                                                  0
runtime                                                                 86
spoken_languages         [{'english_name': 'English', 'iso_639_1': 'en'...
status                                                            Released
tagline                      Try to remember the first time magic happened
title                                                      The Fantasticks
video                                                                False
vote_average                                                           5.4
vote_count                                                              21
certification
dtype: object